.container {
  display: flex;
}

.card {
  position: absolute;
  width: 1146px;
  height: 104px;
  left: 128px;
  top: 212px;
  background-color: #dddfd4;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.stopbtn {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: #3bb7e3;
  font-size: 30px;
}
