@media screen and (max-width: 1080px) {
  .card {
    height: 74px !important;
    margin-top: 8px !important;
  }
}

.card {
  width: 71%;
  height: 97px;
  background-color: #dddfd4;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cardContent{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.hostContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.9em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hostaddress-text {
  width: 120px;
  height: auto;
  color: rgba(0, 0, 0, 0.5);
}

.hostname-text {
  width: 133px;
}
