@media screen and (max-width: 1080px) {
  .aboutTitle {
   font-size: 20px !important;
    
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.textcontainer {
  text-align: left;
    width: 100px;
} 

.aboutTitle {
  color: #000000;
  font-size: 25px ;
  font-weight: 400 !important;
}

.title {
  color: #000000;
  opacity: 54%;
}

.data {
  color: #32507e;
}
