.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.textcontainer {
  width: 100%;
}

.aboutTitle {
  color: #000000;
  font-size: 25px !important;
  font-weight: 400 !important;
}

.title {
  color: #000000;
  opacity: 54%;
}

.data {
  color: #32507e;
}
