@media screen and (max-width: 1080px) {
  .card {
    height: 74px !important;
    justify-content: space-around !important;
    margin-top: 8px !important;
  }
}

.card {
  width: 87%;
  height: 104px;
  background-color: #dddfd4;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
